<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Lorikeet 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140314

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href={{url_for('static', filename='css/default.css')}} rel="stylesheet" type="text/css" media="all" />
<link href={{url_for('static', filename='css/fonts.css')}} rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
		</div>
		<div id="menu">
			<ul>
                    <li class="active"><a href="{{url_for('app.landingPage')}}" accesskey="1" title="">Homepage</a></li>
                    <li><a href="{{url_for('app.loadNewDocPage')}}" accesskey="2" title="">Add new</a></li>
                    <li><a href="{{url_for('app.viewAllDocs')}}" accesskey="3" title="">View All</a></li>
                    <li><a href="{{url_for('app.eraseAllDocs')}}" accesskey="4" title="">Delete All</a></li>
                </ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2>Tap Search</h2>
			<span class="byline"></span>
		</div>
        <div>
                <form method=post>
                    <div class="form-group">
                        {{ form.csrf_token() }}
                        {{ form.hidden_tag() }}
                        {{ form.document(class_="form-control", rows="10") }}                            
                    </div>
                    <br>
                    {{ form.submit(class_="btn btn-warning btn-round") }}
                </form>
            </div>
	</div>
</div>
